main {
    margin: auto;
    margin-top: 120px;
    width: 300px;
}

main>.avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 3px 5px lightgray;
    background: url(../img/lala.png);
    background-size: cover;
}

main>.name {
    text-align: center;
    color: #3d3d3d;
    font-weight: bold;
}

form[name="login"]>input {
    display: block;
    background-color: white;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    padding: 0;
    margin: 20px auto;
    width: 200px;
    box-shadow: 0 3px 5px lightgray;
    text-align: center;
    line-height: 35px;
}

input[type="password"]:focus {
    border-bottom: 2px solid #FCD133;
}

input[type="submit"] {
    color: #FCD133;
    line-height: 30px !important;
    transition: all .1s;
}

input[type="submit"]:active {
    color: #fff;
    background-color: #FCD133;
}