html {
    font-family: 'Roboto';
    color: rgba(0, 0, 0, .87);
}

.login {
    height: 100%;
}

.login body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.login #container {
    margin: auto;
    background-color: #fafafa;
    max-width: 600px;
    height: inherit;
}

.login .avatar {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
    padding: 4px;
    box-sizing: border-box;
    animation: avatar 0.5s ease-in;
    animation-fill-mode: forwards;
}

.login .input {
    margin: 0 !important;
    height: 30px !important;
    border: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    animation: input 0.5s ease-out;
    animation-fill-mode: forwards;
}

#input_submit {
    font-size: 1em;
    color: #00bcd4 !important;
}

@keyframes avatar {
    from {
        margin-top: 170px;
    }
    to {
        width: 100px;
        height: 100px;
        margin-top: 120px;
    }
}

@keyframes input {
    from {
        margin: 150px 2px;
    }
    to {
        margin: 30px 2px;
    }
}

.login #input_pass {
    width: 150px !important;
}

.login #input_submit {
    width: 30px !important;
}

.login #input_pass:focus {
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.login #input_submit:active {
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.login .button,
.login #content {
    display: none;
}